/* 
 * Some Default Styles are provided for your convenience. 
 * You can start adding your own CSS below line 60.
 */

 * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  color: #252525;
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

h1, h2, h3, nav {
  font-family: "Saira Extra Condensed", sans-serif;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Default section styling */
section {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
section h2 {
  text-align: center;
  position: relative;
  margin: 60px 0;
}
section h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

/* Header defaults */
header {
  background-color: rgba(37, 37, 37, 0.8);
}

/* About */
#about p {
  display: flex;
  flex: 3;
  margin: 10px;
}
#about #aboutmockup {
  display: flex;
  flex: 2;
  align-self: flex-end;
  margin: 10px;
}
#about > div{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
#staff > div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#staff .staff-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  margin: 20px;
  /* flex: 0, 0, 33% */
}
#staff i {
  width: 60px;
  height: 60px;
}
#staff h3 {
  font-size: xx-large;
}
#staff p {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}


/* Hello Ivan */